.main{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img0.png');
    background-attachment: fixed;
    background-size: 100%;
    width:100%;
    height:100vh;



    .div1{
        
        margin:13%;
        .new{
            
            font-size: xx-large;
            text-align: center;
        }
        .div-new{
            display:flex;
            
            
            
            
        .img21{
            height:80%;
            width:70%;
            padding:10%;
            border-radius:65px;
            
        }
        .eco{
            padding-left:50px;
        }
        
    }
    } 
    .div2{
        display:flex;
        background-color: rgb(184, 201, 133);
        height:50%;
        
        
        .div-l{
            width:50%;
            
            padding:10%;


            .Z{
                font-size: 60px;
                width:100%;
            }
            .W{
                font-size: 30px;
            }
            .S{
                height:50px;
                width:130px;
                color:black;
                background-color: rgba(24, 34, 6, 0.594);
                border-radius: 50px;
                border:none;
                font-size: 15px;
            }
        }
        .div-r{
            width:50%;
            padding:10%;
            

            .img21{
                height:90%;
                width:100%;
                border-radius: 30px ;
                
                
                
            }
        }
       
       
    }
    .div3{
        

        .new{
            
            font-size: xx-large;
            text-align: center;
        }
        .img3div{
            display:flex;
            
            justify-content: space-evenly;
            .img71{
                height:20%;
                width:27%;
                border-radius: 30px;
                
                position:relative;
                
            }
            .imagetext{
                    position:absolute;
                
                    padding-top:25%;
                    padding-right: 25%;
                    
                    transform: translate(-50%, -50%);
                    color:white;
                    text-align: center;
                    font-size: 1.5em;
                    font-weight: bold;
            }
            .img72{
                height:20%;
                width:27%;
                border-radius: 30px;
                position: relative;

                
                
            }
            .img8{
                height:385px;
                width:27%;
                border-radius: 30px;
                
            }

        }
       

    }

    .div4{
      
        background-color: rgb(190, 194, 177);
        .h1-the{
            text-align: center;
            font-size: 80px;
            padding-top:5%;
        }
        .p-we{
            text-align: center;
            font-size: 25px;
        }
        .icondiv{
            border:1px solid black;
            
            display:flex;
            gap:10%;
            padding-left: 25%;

            
        .icon1{
            height:90px;
            width:100px;
            
            
            
        }
        .Waste{
            text-align: center;
            
            
            
            
            
        }
        
    }
    .p-I{
        text-align: center;
        width:60%;
        padding-left:20%;
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 2%;
        
    }
    .S{
        height:48px;
        width:150px;
        color:white;
        background-color: rgba(24, 34, 6, 0.594);
        border-radius: 50px;
        border:none;
        font-size: 15px;
        margin-left:45%;
        margin-bottom:5%;

    }
    
    }

    .div5{
        .background {
            background-image: url("site.png");
            background-size: cover;
            background-position: center;
            height: 100vh;
            width: 80vw;
            margin:10%;
        
            border-radius: 50px;
          }
          .happen{
            text-align: center;
            font-size: 35px;
            padding-top:20%;
            color:white;
            font-style: inherit;
          }
          .week{
            text-align: center;
            font-size: 130px;
            color:rgb(227, 232, 171);
            padding-top:-10%;
            
          }
          .shop{
            width:150px;
            height:50px;
            border-radius: 50px;
            border:none;
            font-size: 15px;
            margin-left:45%;
            
        }
    }

    

}